main {
  min-height: 80vh;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

#welcome {
  font-size: 4rem !important;
  font-family: 'Lucida Sans';
}

.carousel-image {
  transition: 2s;
  max-height: 60vh;
}

.carousel-item {
  transition: opacity 2s ease-in-out !important;
}
